/* UMUM */
@font-face {
    font-family: 'Gink';
    src: url('../fonts/Gink.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    height: 100%;

}

*:focus {
    outline: none !important;
}

body {
    font-family: 'Spectral', serif;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

svg {
    max-width: 100%;
}

a:hover,
a:focus {
    text-decoration: none;
}

/* ANIMASI */
@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0.2, 0.2);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1.5, 1.5);
        opacity: 0;
    }
}

.animation-pulse {
    animation: pulse 2s ease-out;
    animation-iteration-count: infinite;
    opacity: 0;
}

section .heading-text,
footer .heading-text {
    font-family: 'Gink', serif;
    font-size: 36px;
    text-align: center;
    color: #fdcb6e;
}

/* ICON */
.icon {
    transition: color .4s ease;
}

.icon--sm {
    font-size: 20px;
}

.icon--md {
    font-size: 30px;
}

.icon--lg {
    font-size: 50px;
}

.icon--xl {
    font-size: 70px;
}

.icon--primary {
    color: #a9d2f1;
}

.icon--white {
    color: #fff;
}

.icon--black {
    color: #000;
}

.icon:hover {
    color: #daa520;
}

/* IE */
.icon--sm {
    width: 20px;
    height: 20px;
}

.icon--md {
    width: 30px;
    height: 30px;
}

.icon--lg {
    width: 50px;
    height: 50px;
}

.icon--xl {
    width: 70px;
    height: 70px;
}

.icon svg {
    fill: currentColor;
    display: block;
    width: 100%;
    height: 100%;
}

.icon .icon-inner {
    display: block;
    width: 100%;
    height: 100%;
}

/* PENGTURAN DASAR */

/* FONT */
.cfont-script {
    font-family: 'Modernline', serif;
    word-spacing: 8px;
}

.text-gold {
    color: #daa520;
}

.ch1 {
    font-size: 36px;
}

.ch2 {
    font-size: 32px;
}

.ch3 {
    font-size: 28px;
}

.ch4 {
    font-size: 24px;
}

.ch5 {
    font-size: 20px;
}

/* BORDER */
.cborder-b-grey {
    border-bottom: 1px solid #e5e5e5;
}

/* BACKGROUND */
.cbg-grey {
    background-color: #97C1A9;
}

.cbg-white {
    background-color: #fff;
}

.cbg-primary {
    background-color: #a9d2f1;
}

.cbg-black {
    background-color: #000000;
}

/* MARGIN */
.cmb-2 {
    margin-bottom: 20px;
}

.cmb-3 {
    margin-bottom: 30px;
}

.cmb-5 {
    margin-bottom: 50px;
}

.cmb-8 {
    margin-bottom: 80px;
}

.cmt-2 {
    margin-top: 20px;
}

.cmt-3 {
    margin-top: 30px;
}

.cmt-5 {
    margin-top: 50px;
}

.cmt-n-3 {
    margin-top: -30px;
}

/* HERO */
header {
    min-height: 100vh;
    position: relative;
    background-color: #97C1A9;
}

.hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    color: #fff;
    min-height: 62vh;
}

/*.hero--slide1 {*/
/*	background-image: url('../img/hero1.jpg');*/
/*}*/

/*.hero--slide2 {*/
/*	background-image: url('../img/hero2.jpg');*/
/*}*/


.hero-body {
    color: #FFF;
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    z-index: 99;
}

.hero-tamu {
    position: absolute;
    top: 66%;
    width: 100%;
    text-align: center;
    z-index: 99;
    color: #FFF;
}

.hero_title {
    font-family: 'Gink', serif;
    font-size: 36px;
    letter-spacing: 1px;
    margin-bottom: -2px;
    word-spacing: -6px;
}

.hero_ornament {
    width: 250px;
}

.hero_ornament_down {
    margin-top: -26px;
}

.hero_undangan {
    font-size: 22px;
    font-weight: 400;
    font-style: initial;
}

.hero_date {
    font-size: 20px;
    font-weight: 400;
    font-style: initial;
}

.kepada-tamu {
    font-size: 23px;
    margin-bottom: -5px;
}

.kepada-tamu-gelar {
    font-size: 20px;
    margin-bottom: 0;
}

.hero-shape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.hero-shape svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 30px;
}

.hero-shape .shape-fill {
    fill: #97C1A9;
}

@media (min-width: 768px) {
    .hero {
        min-height: 100vh;
    }
}

/* INTRO */
.intro {
    padding: 0px 0 40px 0px;
    position: relative;
    background-color: #97C1A9;
    color: #FFF;
}

.intro-content .icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9;
}

.intro-content__text {
    padding: 30px;
}

.intro-content__text h4 {
    font-weight: 600;
    font-style: initial;
    margin-bottom: 15px;
}

.intro-content__col {
    margin: 5px;
}

.intro-content__img {
    height: 100%;
    min-height: 260px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

@media (min-width: 992px) {
    .intro-content__col {
        width: 50%;
        position: relative;
    }

    .intro-content__img {
        min-height: 360px;
    }

    .intro-content__text {
        opacity: 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 100px 60px 35px 60px;
        -webkit-transition: opacity .4s ease;
        transition: opacity .4s ease;
    }

    .intro-content__col:hover .intro-content__text {
        opacity: 1;
    }
}

/* MEMPELAI */
.mempelai {
    padding: 10px 12px;
}

.mempelai-foto {
    padding: 20px 50px 0;
}

.mempelai-foto img {
    border-radius: 50%;
}

@media (min-width: 992px) {
    .mempelai-foto {
        padding: 50px 80px 0 80px;
    }
}

.mempelai-nama {
    font-family: 'Gink', serif;
    text-align: center;
    line-height: 1.2em;
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.mempelai-detail {
    font-style: italic;
    text-align: center;
    padding: 4px 15px 4px 15px;
}

.mempelai-ortu {
    text-align: center;
    padding: 0px 15px 0px 15px;
}

.mempelai-alamat {
    text-align: center;
    padding: 0px 15px 0px 15px;
}

.mempelai-sosmed {
    text-align: center;
    margin-top: 20px;
}

.mempelai-sosmed .icon-sosmed {
    width: 22px;
    height: 22px;
    color: #000;
    background-color: #FFF;
    padding: 10px;
    border-radius: 30px;
}

.mempelai-sosmed .icon-sosmed:hover,
.mempelai-sosmed .icon-sosmed:active,
.mempelai-sosmed .icon-sosmed:focus {
    padding: 8px;
    width: 26px;
    height: 26px;
    background-color: #f1f1f1;
}

.intro-shape {
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(0deg);
}

.intro-shape svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 20px;
}

.intro-shape .shape-fill {
    fill: #97C1A9;
}

/* HITUNG MUNDUR */
.countdown {
    padding: 100px 10px 50px;
    background-color: #97C1A9;
    position: relative;
}

.countdown-shape {
    position: absolute;
    top: -29px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.countdown-shape svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 30px;
}

.countdown-shape .shape-fill {
    fill: #97C1A9;
}

.countdown .countdown-box {
    -webkit-box-shadow: 0 0 15px #e1e1e1;
    -moz-box-shadow: 0 0 15px #e1e1e1;
    box-shadow: 0 0 15px #e1e1e1;
    box-sizing: border-box;
    background-color: #fff;
    padding: 60px 0 30px 0;
    border-radius: 0px;
    margin-top: -220px;
}

.countdown .heading-text {
    color: #000;
}

.countdown-list {
    margin: 20px auto -8px;
    min-height: 59px;
}

.countdown-list > div {
    width: 23.5%;
    display: inline-block;
    color: #000;
    text-align: center;
    line-height: 1;
    padding: 0 22px;
    border-right: 1px solid rgba(0, 0, 0, 0.8);
}

.countdown-list > div:last-child {
    border-right: none;
}

.countdown-list > div > p {
    font-size: 10pt;
    -khtml-opacity: 0.65;
    -moz-opacity: 0.65;
    opacity: 0.65;
    margin-top: 2px;
    margin-bottom: 0;
}

.countdown-list > div > div {
    font-size: 55pt;
}

.countdown-list .end {
    font-size: 24pt;
}

@media (max-width: 1199px) {
    .countdown-list > div > div {
        font-size: 45pt;
    }
}

@media (max-width: 991px) {
    .countdown-list > div > div {
        font-size: 36pt;
    }
}

@media (max-width: 767px) {
    .countdown-list > div > div {
        font-size: 32pt;
    }

    .countdown-list > div > span {
        font-size: 10pt;
    }
}

@media (max-width: 480px) {
    .countdown-list > div {
        padding: 0 12px;
    }

    .countdown-list > div > div {
        font-size: 26pt;
    }
}

/* QUOTE */
.quote {
    padding: 10px 0 70px 0;
    position: relative;
    background-color: #97C1A9;
    color: #FFF;
}

.quote-icon {
    width: 140px;
}

.quote__text {
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}

/* LOKASI */
.location {
    padding: 100px 0 180px;
    position: relative;
}

.location_box {
    padding: 0 5px 20px 5px;
    margin-top: 40px;
}

.location-acara {
    -webkit-box-shadow: 0 0 5px #e1e1e1;
    -moz-box-shadow: 0 0 5px #e1e1e1;
    box-shadow: 0 0 5px #e1e1e1;
    box-sizing: border-box;
    background-color: #f1f1f1;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 50px 12px;
    padding: 40px 5px 30px 5px;
}

@media (max-width: 768px) {
    .resepsi {
        margin-top: -30px;
    }
}

.location-acara .acara-icon {
    width: 80px;
    margin-bottom: 10px;
}

.location-acara .title {
    font-family: 'Gink', serif;
    font-size: 28px;
    margin-bottom: 16px;
}

.location-acara .acara-head {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}

.location-acara .acara-detail {
    font-size: 17px;
}

.location-acara .acara-alamat {
    font-size: 18px;
    line-height: 1.3;
    margin-top: -16px;
    margin-bottom: -8px;
}

.location-acara hr {
    border-top: 2px solid #000;
    width: 100px;
    margin-top: 16px;
    margin-bottom: 12px;
}

.location__text {
    padding: 35px 30px;
}

.location__text h6 {
    color: #5f5f55;
    font-size: 16px;
}

.location__text h3 {
    position: relative;
    margin-bottom: 35px;
    font-weight: 600;
}

.location__text h3:after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 72px;
    background: #aeaeae;
    height: 1px;
}

.location__img {
    display: block;
    margin-bottom: 30px;
}

.btn-map {
    font-family: 'Spectral', serif;
    border-radius: 30px;
    bottom: 0;
    background-color: #97C1A9;
    color: #FFF;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 10px 20px;
    margin: auto;
    cursor: pointer;
    transition: background-color .3s ease;
    -webkit-transition: background-color .3s ease;
}

.btn-map:hover,
.btn-map:active,
.btn-map:focus {
    color: #FFF;
    box-shadow: none;
}

.location .penutup {
    font-family: 'Modernline', serif;
    font-size: 24px;
    margin: 30px 0;
    color: #daa520;
}

/* STORY */
.stories {
    padding: 70px 0 70px 0;
}

.stories__title {
    margin-bottom: 50px;
}

.stories__img {
    /*border: 10px solid #fbfbfa;*/
    padding: 5px;
}

.stories .icon {
    margin-bottom: 14px;
    margin-left: 4px;
}


/* MASONRY GRID */
.grid-item,
.grid-sizer {
    width: 100%;
}

.grid-item {
    margin-bottom: 4%;
}


@media (min-width: 576px) {
    .grid-item,
    .grid-sizer {
        width: 46%;
    }

    .gutter-sizer {
        width: 4%;
    }
}

@media (min-width: 768px) {
    .grid-item,
    .grid-sizer {
        width: 31.333%;
    }

    .grid-item {
        margin-bottom: 3%;
    }

    .gutter-sizer {
        width: 3%;
    }
}

/* VIDEO */
.video {
    padding: 0 0 70px 0;
}

/* BUKU TAMU */
.ucapan {
    padding: 30px 0 90px 0;
}

.ucapan-box {
    --offset: 8px;
    --border-size: 1px;
    position: relative;
    padding: 4px;
    z-index: 0;
    border: 2px solid #DE9B72;
}

.ucapan-box-2 {
    border: 8px solid #DE9B72;
    padding: 20px;
}

.text-center {
    text-align: center;
}

.box-ucapan {
    text-align: center;
}

.box-ucapan img {
    width: 400px;
}

.box-ucapan.top img {
    transform: rotate(180deg);

}

@media (max-width: 767px) {
    .ucapan-box {
        margin: 0 20px;
    }
}

.h-lines,
.v-lines {
    position: absolute;
    top: var(--horizontal-offset, 0);
    right: var(--vertical-offset, 0);
    bottom: var(--horizontal-offset, 0);
    left: var(--vertical-offset, 0);
    transition: transform 0.8s ease;
    will-change: transform;
    z-index: -1;
}

.h-lines::before,
.v-lines::before {
    content: "";
    position: absolute;
    border: inherit;
}

.h-lines {
    --vertical-offset: calc(var(--offset) * -1);
    border-top: var(--border-size) solid currentcolor;
    border-bottom: var(--border-size) solid currentcolor;
    top: calc(var(--border-size) * -1);
    bottom: calc(var(--border-size) * -1);
}

.h-lines::before {
    top: calc(var(--vertical-offset) - var(--border-size));
    bottom: calc(var(--vertical-offset) - var(--border-size));
    left: calc(var(--offset) - var(--border-size));
    right: calc(var(--offset) - var(--border-size));
}

.v-lines {
    --horizontal-offset: calc(var(--offset) * -1);
    border-left: var(--border-size) solid currentcolor;
    border-right: var(--border-size) solid currentcolor;
    right: calc(var(--border-size) * -1);
    left: calc(var(--border-size) * -1);
}

.v-lines::before {
    top: calc(var(--offset) - var(--border-size));
    bottom: calc(var(--offset) - var(--border-size));
    left: calc(var(--horizontal-offset) - var(--border-size));
    right: calc(var(--horizontal-offset) - var(--border-size));
}

.scroll {
    max-height: 400px;
    padding: 12px;
    margin-top: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: left;
}

@media (min-width: 768px) {
    .scroll {
        margin: auto;
    }

}

.row_ucapan {
    margin-bottom: 24px;
}

.row_ucapan .card {
    background-color: #97C1A9;
    box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .15);
    color: #fff;
    border: none;
    border-radius: 8px;
}

.row_ucapan .card-body {
    padding: 20px 18px 20px 28px;
}

.row_ucapan blockquote {
    margin: 6px;
}

.row_ucapan blockquote p {
    font-size: 19px;
    font-style: italic;
    margin-bottom: 2px;
}

.row_ucapan blockquote i {
    font-size: 26px;
}

.row_ucapan .ucapan_nama {
    font-size: 18px;
    color: #FFF;
}

.row_ucapan .ucapan_nama cite {
    font-size: 17px;
}

.row_ucapan .blockquote-footer::before {
    color: #FFF;
}

/* width */
.scroll::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.scroll::-webkit-scrollbar-track {
    background: #d399a3;
}

/* Handle */
.scroll::-webkit-scrollbar-thumb {
    background: #97C1A9;
}

/* Handle on hover */
.scroll::-webkit-scrollbar-thumb:hover {
    background: #97C1A9;
}

.rsvp-box .rsvp-form {
    margin-top: 50px;
}

.rsvp-form input,
.rsvp-form textarea,
.rsvp-form select {
    width: 100%;
    font-style: initial;
    color: #1c1c1c;
    padding: 5px 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    background-color: #f1f1f1;
}

.rsvp-form input,
.rsvp-form select,
.rsvp-form textarea {
    border: 0;
    border-bottom: 1px solid #898989;
}

.rsvp-form select {
    background: none;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: #5f5f55;
}

.radio-wrapper {

}

input[type="radio"] + label {
    font-size: 16px;
    font-weight: inherit;
    font-family: inherit;
    text-transform: none;
    width: initial;
    padding-top: 0;
    padding-bottom: 0;
    float: none;
    margin-bottom: 5px;
    display: block;
    position: relative;
    padding-left: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

input[type="radio"], input[type="checkbox"] {
    display: none;
}

input[type="radio"] + label:not(:last-child) {
    margin-right: 25px;
}

input[type="radio"] + label::before,
input[type="radio"] + label::after {
    content: "";
    display: block;
    position: absolute;
}

input[type="radio"] + label::before {
    background: transparent;
    border: 1px solid #262626;
    left: 0;
    top: 2px;
}

input[type="radio"] + label::before {
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

input[type="radio"] + label::after {
    opacity: 0;
    visibility: hidden;
}

input[type="radio"] + label::after {
    left: 6px;
    top: 8px;
    border-radius: 50%;
    background-color: #262626;
    width: 8px;
    height: 8px;
}


input[type="radio"]:checked + label::after {
    opacity: 1;
    visibility: visible;
}

.rsvp-form-field {
    position: relative;
    text-align: left;
}

.rsvp-form-field label {
    margin-left: 10px;
    margin-bottom: 4px;
}

.rsvp-form-field__error {
    display: none;
    font-size: 15px;
    color: #c64141;
    font-style: initial;
    position: absolute;
    bottom: -18px;
    left: 5px;
}

.rsvp-form input.error {
    border-bottom: 1px solid #c64141;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #5f5f55;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #5f5f55;
}

:-ms-input-placeholder { /* IE 10+ */
    color: #5f5f55;
}

:-moz-placeholder { /* Firefox 18- */
    color: #5f5f55;
}

.rsvp-form-submit {
    bottom: 0;
    background-color: #97C1A9;
    color: #FFF;
    border: 0;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 10px 24px;
    margin: auto;
    border-radius: 30px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color .3s ease;
    -webkit-transition: background-color .3s ease;
}

.rsvp-form-submit:hover,
.rsvp-form-submit:active,
.rsvp-form-submit:focus {
    color: #FFF;
    box-shadow: none;
}

.rsvp-form-submit .icon {
    display: none;
    position: absolute;
}

.rsvp-confirmation {
    display: none;
}

.rsvp-form__right {
    margin-top: 10px;
}

@media (min-width: 768px) {
    .rsvp-form__left {
        width: 45%;
    }

    .rsvp-form__right {
        width: 49%;
        margin-top: 0;
    }

    .rsvp-form select {
        margin-bottom: 0;
    }

    .rsvp-form-submit {
        max-width: 300px;
    }

    .rsvp-form-submit .icon:first-of-type {
        left: 100px;
    }

    .rsvp-form-submit:hover .icon {
        display: inline;
    }
}

/*FOOTER*/
.footer {
    padding: 80px 0 20px;
    background-color: #97C1A9;
    color: #FFF;
    position: relative;
    border-top: 8px solid #DE9B72;
}

.footer-top {
    border-top: 2px solid #DE9B72;
    margin-bottom: 4px;
}

.footer-hiasan {
    text-align: center;
}

.footer-hiasan img {
    width: 400px;
    transform: rotate(180deg);
}

.footer-shape {
    position: absolute;
    top: -19px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(0deg);
}

.footer-shape svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 20px;
}

.footer-shape .shape-fill {
    fill: #97C1A9;
}

footer .heading {
    font-size: 26px;
}

footer .protokol {
    margin-bottom: 50px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

footer .protokol-item {
    text-align: center;
    margin-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
}

footer .protokol-item img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

footer .protokol-item p {
    font-size: 14px;
}

@media (max-width: 768px) {
    footer .protokol-item {
        width: 33.3%;
    }

    .footer-hiasan img {
        width: 250px;
        transform: rotate(180deg);
    }
}

.footer .icon {
    margin: 0 -2px;
}

.footer__social {
    list-style: none;
    margin-top: 20px;
}

.footer__social li {
    display: inline-block;
    margin: 0 5px;
}

.footer__copy {
    font-size: 16px;
}

@media (min-width: 768px) {
    .footer {
        padding: 20px 0 20px;
    }
}

/* MUSIC */
#buttonmusic {
    position: fixed;
    bottom: 15px;
    padding: 10px 11px 2px 11px;
    right: 14px;
    background: #000;
    background: linear-gradient(135deg, #feca57 0%, #ff9f43 100%);
    box-shadow: 0px 6px 10px 0px rgb(0 0 0 / 20%);
    color: #FFF;
    font-size: 22px;
    z-index: 3;
    display: none;
    border-radius: 50%;
}

/* MODAL */
.modal-dialog {
    position: relative;
    top: 20%;
}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}

.modal-body {
    padding: 40px 0 30px;
    position: relative;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}

.heading-modal {
    font-size: 32px;
    margin-bottom: 20px;
}

.modal-penerima {
    font-family: 'Gink', serif;
    font-size: 26px;
    margin-top: 4px;
    margin-bottom: 0px;
}

.modal-dari {
    font-size: 32px;
    font-weight: 600;
}


.paragraph-modal {
    margin-bottom: -5px;
    font-size: 18px;
}

.btn-modal {
    bottom: 0;
    background-color: #FFF;
    color: #000;
    border: 0;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 10px 24px;
    margin: auto;
    border-radius: 30px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color .3s ease;
    -webkit-transition: background-color .3s ease;
}

.btn-modal:hover,
.btn-modal:active,
.btn-modal:focus {
    color: #000;
    box-shadow: none;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 1.75rem auto;
    }

    .fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
        width: 100% !important;
    }
}


.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: #111111;
    overflow-x: hidden;
    transition: 0.5s;

}

.overlay-content {
    position: relative;
    top: 0;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    z-index: 999;
}

.lds-heart {
    display: inline-block;
    position: relative;
    top: 44%;
    width: 80px;
    height: 80px;
    transform: rotate(45deg);
    transform-origin: 40px 40px;
}

.lds-heart div {
    top: 32px;
    left: 32px;
    position: absolute;
    width: 32px;
    height: 32px;
    background: #fc5d56;
    animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.lds-heart div:after,
.lds-heart div:before {
    content: " ";
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    background: #fc5d56;
}

.lds-heart div:before {
    left: -24px;
    border-radius: 50% 0 0 50%;
}

.lds-heart div:after {
    top: -24px;
    border-radius: 50% 50% 0 0;
}

@keyframes lds-heart {
    0% {
        transform: scale(0.95);
    }
    5% {
        transform: scale(1.1);
    }
    39% {
        transform: scale(0.85);
    }
    45% {
        transform: scale(1);
    }
    60% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(0.9);
    }
}

.hidden {
    display: none !important;
}

.form-control-feedback {
    color: #d20010;
}

.border-background {
    border-top: 4px solid #DE9B72;
    text-align: center;
}

.border-background-first {
    border-top: 8px solid #DE9B72;
    margin-bottom: 4px;
}

.border-background img {
    width: 400px;
    opacity: 0.7
}

.wrapper-video img.hiasan {
    width: 200px;
}

.wrapper-video img.hiasan.top {
    transform: rotate(180deg);
}

.wrapper-video-1 {
    border: 8px solid #DE9B72;
    padding: 8px 8px 0 8px !important;
}

.wrapper-video-2 {
    border: 2px solid #DE9B72;
    padding: 4px !important;
}


/**
border pengantin
 */

.circle.pengantin {
    box-sizing: border-box;
    display: grid;
    place-content: center;
    position: relative;
    margin: 0.625em;
    padding-left: 0.25em;
    border-radius: 50%;
    font: 900 2.5em/ 1.25 z003, segoe script, comic sans ms, cursive;
    filter: drop-shadow(1px 1px #fff);
}

.circle.pengantin img {
    border-radius: 50%;
    width: 200px;
}

.circle.pengantin::after {
    position: absolute;
    top: -0.5em;
    right: -0.5em;
    bottom: -0.5em;
    left: -0.5em;
    background: inherit;
    content: "";
}

.circle.pengantin::after {
    clip-path: polygon(100% 50%, 99.80973% 54.35779%, calc(50% + calc(50% - 0.1875em) * 0.98481) calc(50% + calc(50% - 0.1875em) * 0.17365), calc(50% + calc(50% - 0.375em) * 0.99619) calc(50% + calc(50% - 0.375em) * 0.08716), calc(50% + calc(50% - 0.375em) * 1) calc(50% + calc(50% - 0.375em) * 0), calc(50% + calc(50% - 0.1875em) * 0.99619) calc(50% + calc(50% - 0.1875em) * 0.08716), 100% 50%, 100% 50%, 99.24039% 58.68241%, 98.29629% 62.94095%, calc(50% + calc(50% - 0.1875em) * 0.93969) calc(50% + calc(50% - 0.1875em) * 0.34202), calc(50% + calc(50% - 0.375em) * 0.96593) calc(50% + calc(50% - 0.375em) * 0.25882), calc(50% + calc(50% - 0.375em) * 0.98481) calc(50% + calc(50% - 0.375em) * 0.17365), calc(50% + calc(50% - 0.1875em) * 0.96593) calc(50% + calc(50% - 0.1875em) * 0.25882), 99.24039% 58.68241%, 100% 50%, 96.98463% 67.10101%, 95.31539% 71.13091%, calc(50% + calc(50% - 0.1875em) * 0.86603) calc(50% + calc(50% - 0.1875em) * 0.5), calc(50% + calc(50% - 0.375em) * 0.90631) calc(50% + calc(50% - 0.375em) * 0.42262), calc(50% + calc(50% - 0.375em) * 0.93969) calc(50% + calc(50% - 0.375em) * 0.34202), calc(50% + calc(50% - 0.1875em) * 0.90631) calc(50% + calc(50% - 0.1875em) * 0.42262), 96.98463% 67.10101%, 100% 50%, 93.30127% 75%, 90.9576% 78.67882%, calc(50% + calc(50% - 0.1875em) * 0.76604) calc(50% + calc(50% - 0.1875em) * 0.64279), calc(50% + calc(50% - 0.375em) * 0.81915) calc(50% + calc(50% - 0.375em) * 0.57358), calc(50% + calc(50% - 0.375em) * 0.86603) calc(50% + calc(50% - 0.375em) * 0.5), calc(50% + calc(50% - 0.1875em) * 0.81915) calc(50% + calc(50% - 0.1875em) * 0.57358), 93.30127% 75%, 100% 50%, 88.30222% 82.13938%, 85.35534% 85.35534%, calc(50% + calc(50% - 0.1875em) * 0.64279) calc(50% + calc(50% - 0.1875em) * 0.76604), calc(50% + calc(50% - 0.375em) * 0.70711) calc(50% + calc(50% - 0.375em) * 0.70711), calc(50% + calc(50% - 0.375em) * 0.76604) calc(50% + calc(50% - 0.375em) * 0.64279), calc(50% + calc(50% - 0.1875em) * 0.70711) calc(50% + calc(50% - 0.1875em) * 0.70711), 88.30222% 82.13938%, 100% 50%, 82.13938% 88.30222%, 78.67882% 90.9576%, calc(50% + calc(50% - 0.1875em) * 0.5) calc(50% + calc(50% - 0.1875em) * 0.86603), calc(50% + calc(50% - 0.375em) * 0.57358) calc(50% + calc(50% - 0.375em) * 0.81915), calc(50% + calc(50% - 0.375em) * 0.64279) calc(50% + calc(50% - 0.375em) * 0.76604), calc(50% + calc(50% - 0.1875em) * 0.57358) calc(50% + calc(50% - 0.1875em) * 0.81915), 82.13938% 88.30222%, 100% 50%, 75% 93.30127%, 71.13091% 95.31539%, calc(50% + calc(50% - 0.1875em) * 0.34202) calc(50% + calc(50% - 0.1875em) * 0.93969), calc(50% + calc(50% - 0.375em) * 0.42262) calc(50% + calc(50% - 0.375em) * 0.90631), calc(50% + calc(50% - 0.375em) * 0.5) calc(50% + calc(50% - 0.375em) * 0.86603), calc(50% + calc(50% - 0.1875em) * 0.42262) calc(50% + calc(50% - 0.1875em) * 0.90631), 75% 93.30127%, 100% 50%, 67.10101% 96.98463%, 62.94095% 98.29629%, calc(50% + calc(50% - 0.1875em) * 0.17365) calc(50% + calc(50% - 0.1875em) * 0.98481), calc(50% + calc(50% - 0.375em) * 0.25882) calc(50% + calc(50% - 0.375em) * 0.96593), calc(50% + calc(50% - 0.375em) * 0.34202) calc(50% + calc(50% - 0.375em) * 0.93969), calc(50% + calc(50% - 0.1875em) * 0.25882) calc(50% + calc(50% - 0.1875em) * 0.96593), 67.10101% 96.98463%, 100% 50%, 58.68241% 99.24039%, 54.35779% 99.80973%, calc(50% + calc(50% - 0.1875em) * 0) calc(50% + calc(50% - 0.1875em) * 1), calc(50% + calc(50% - 0.375em) * 0.08716) calc(50% + calc(50% - 0.375em) * 0.99619), calc(50% + calc(50% - 0.375em) * 0.17365) calc(50% + calc(50% - 0.375em) * 0.98481), calc(50% + calc(50% - 0.1875em) * 0.08716) calc(50% + calc(50% - 0.1875em) * 0.99619), 58.68241% 99.24039%, 100% 50%, 50% 100%, 45.64221% 99.80973%, calc(50% + calc(50% - 0.1875em) * -0.17365) calc(50% + calc(50% - 0.1875em) * 0.98481), calc(50% + calc(50% - 0.375em) * -0.08716) calc(50% + calc(50% - 0.375em) * 0.99619), calc(50% + calc(50% - 0.375em) * 0) calc(50% + calc(50% - 0.375em) * 1), calc(50% + calc(50% - 0.1875em) * -0.08716) calc(50% + calc(50% - 0.1875em) * 0.99619), 50% 100%, 100% 50%, 41.31759% 99.24039%, 37.05905% 98.29629%, calc(50% + calc(50% - 0.1875em) * -0.34202) calc(50% + calc(50% - 0.1875em) * 0.93969), calc(50% + calc(50% - 0.375em) * -0.25882) calc(50% + calc(50% - 0.375em) * 0.96593), calc(50% + calc(50% - 0.375em) * -0.17365) calc(50% + calc(50% - 0.375em) * 0.98481), calc(50% + calc(50% - 0.1875em) * -0.25882) calc(50% + calc(50% - 0.1875em) * 0.96593), 41.31759% 99.24039%, 100% 50%, 32.89899% 96.98463%, 28.86909% 95.31539%, calc(50% + calc(50% - 0.1875em) * -0.5) calc(50% + calc(50% - 0.1875em) * 0.86603), calc(50% + calc(50% - 0.375em) * -0.42262) calc(50% + calc(50% - 0.375em) * 0.90631), calc(50% + calc(50% - 0.375em) * -0.34202) calc(50% + calc(50% - 0.375em) * 0.93969), calc(50% + calc(50% - 0.1875em) * -0.42262) calc(50% + calc(50% - 0.1875em) * 0.90631), 32.89899% 96.98463%, 100% 50%, 25% 93.30127%, 21.32118% 90.9576%, calc(50% + calc(50% - 0.1875em) * -0.64279) calc(50% + calc(50% - 0.1875em) * 0.76604), calc(50% + calc(50% - 0.375em) * -0.57358) calc(50% + calc(50% - 0.375em) * 0.81915), calc(50% + calc(50% - 0.375em) * -0.5) calc(50% + calc(50% - 0.375em) * 0.86603), calc(50% + calc(50% - 0.1875em) * -0.57358) calc(50% + calc(50% - 0.1875em) * 0.81915), 25% 93.30127%, 100% 50%, 17.86062% 88.30222%, 14.64466% 85.35534%, calc(50% + calc(50% - 0.1875em) * -0.76604) calc(50% + calc(50% - 0.1875em) * 0.64279), calc(50% + calc(50% - 0.375em) * -0.70711) calc(50% + calc(50% - 0.375em) * 0.70711), calc(50% + calc(50% - 0.375em) * -0.64279) calc(50% + calc(50% - 0.375em) * 0.76604), calc(50% + calc(50% - 0.1875em) * -0.70711) calc(50% + calc(50% - 0.1875em) * 0.70711), 17.86062% 88.30222%, 100% 50%, 11.69778% 82.13938%, 9.0424% 78.67882%, calc(50% + calc(50% - 0.1875em) * -0.86603) calc(50% + calc(50% - 0.1875em) * 0.5), calc(50% + calc(50% - 0.375em) * -0.81915) calc(50% + calc(50% - 0.375em) * 0.57358), calc(50% + calc(50% - 0.375em) * -0.76604) calc(50% + calc(50% - 0.375em) * 0.64279), calc(50% + calc(50% - 0.1875em) * -0.81915) calc(50% + calc(50% - 0.1875em) * 0.57358), 11.69778% 82.13938%, 100% 50%, 6.69873% 75%, 4.68461% 71.13091%, calc(50% + calc(50% - 0.1875em) * -0.93969) calc(50% + calc(50% - 0.1875em) * 0.34202), calc(50% + calc(50% - 0.375em) * -0.90631) calc(50% + calc(50% - 0.375em) * 0.42262), calc(50% + calc(50% - 0.375em) * -0.86603) calc(50% + calc(50% - 0.375em) * 0.5), calc(50% + calc(50% - 0.1875em) * -0.90631) calc(50% + calc(50% - 0.1875em) * 0.42262), 6.69873% 75%, 100% 50%, 3.01537% 67.10101%, 1.70371% 62.94095%, calc(50% + calc(50% - 0.1875em) * -0.98481) calc(50% + calc(50% - 0.1875em) * 0.17365), calc(50% + calc(50% - 0.375em) * -0.96593) calc(50% + calc(50% - 0.375em) * 0.25882), calc(50% + calc(50% - 0.375em) * -0.93969) calc(50% + calc(50% - 0.375em) * 0.34202), calc(50% + calc(50% - 0.1875em) * -0.96593) calc(50% + calc(50% - 0.1875em) * 0.25882), 3.01537% 67.10101%, 100% 50%, 0.75961% 58.68241%, 0.19027% 54.35779%, calc(50% + calc(50% - 0.1875em) * -1) calc(50% + calc(50% - 0.1875em) * 0), calc(50% + calc(50% - 0.375em) * -0.99619) calc(50% + calc(50% - 0.375em) * 0.08716), calc(50% + calc(50% - 0.375em) * -0.98481) calc(50% + calc(50% - 0.375em) * 0.17365), calc(50% + calc(50% - 0.1875em) * -0.99619) calc(50% + calc(50% - 0.1875em) * 0.08716), 0.75961% 58.68241%, 100% 50%, 0% 50%, 0.19027% 45.64221%, calc(50% + calc(50% - 0.1875em) * -0.98481) calc(50% + calc(50% - 0.1875em) * -0.17365), calc(50% + calc(50% - 0.375em) * -0.99619) calc(50% + calc(50% - 0.375em) * -0.08716), calc(50% + calc(50% - 0.375em) * -1) calc(50% + calc(50% - 0.375em) * 0), calc(50% + calc(50% - 0.1875em) * -0.99619) calc(50% + calc(50% - 0.1875em) * -0.08716), 0% 50%, 100% 50%, 0.75961% 41.31759%, 1.70371% 37.05905%, calc(50% + calc(50% - 0.1875em) * -0.93969) calc(50% + calc(50% - 0.1875em) * -0.34202), calc(50% + calc(50% - 0.375em) * -0.96593) calc(50% + calc(50% - 0.375em) * -0.25882), calc(50% + calc(50% - 0.375em) * -0.98481) calc(50% + calc(50% - 0.375em) * -0.17365), calc(50% + calc(50% - 0.1875em) * -0.96593) calc(50% + calc(50% - 0.1875em) * -0.25882), 0.75961% 41.31759%, 100% 50%, 3.01537% 32.89899%, 4.68461% 28.86909%, calc(50% + calc(50% - 0.1875em) * -0.86603) calc(50% + calc(50% - 0.1875em) * -0.5), calc(50% + calc(50% - 0.375em) * -0.90631) calc(50% + calc(50% - 0.375em) * -0.42262), calc(50% + calc(50% - 0.375em) * -0.93969) calc(50% + calc(50% - 0.375em) * -0.34202), calc(50% + calc(50% - 0.1875em) * -0.90631) calc(50% + calc(50% - 0.1875em) * -0.42262), 3.01537% 32.89899%, 100% 50%, 6.69873% 25%, 9.0424% 21.32118%, calc(50% + calc(50% - 0.1875em) * -0.76604) calc(50% + calc(50% - 0.1875em) * -0.64279), calc(50% + calc(50% - 0.375em) * -0.81915) calc(50% + calc(50% - 0.375em) * -0.57358), calc(50% + calc(50% - 0.375em) * -0.86603) calc(50% + calc(50% - 0.375em) * -0.5), calc(50% + calc(50% - 0.1875em) * -0.81915) calc(50% + calc(50% - 0.1875em) * -0.57358), 6.69873% 25%, 100% 50%, 11.69778% 17.86062%, 14.64466% 14.64466%, calc(50% + calc(50% - 0.1875em) * -0.64279) calc(50% + calc(50% - 0.1875em) * -0.76604), calc(50% + calc(50% - 0.375em) * -0.70711) calc(50% + calc(50% - 0.375em) * -0.70711), calc(50% + calc(50% - 0.375em) * -0.76604) calc(50% + calc(50% - 0.375em) * -0.64279), calc(50% + calc(50% - 0.1875em) * -0.70711) calc(50% + calc(50% - 0.1875em) * -0.70711), 11.69778% 17.86062%, 100% 50%, 17.86062% 11.69778%, 21.32118% 9.0424%, calc(50% + calc(50% - 0.1875em) * -0.5) calc(50% + calc(50% - 0.1875em) * -0.86603), calc(50% + calc(50% - 0.375em) * -0.57358) calc(50% + calc(50% - 0.375em) * -0.81915), calc(50% + calc(50% - 0.375em) * -0.64279) calc(50% + calc(50% - 0.375em) * -0.76604), calc(50% + calc(50% - 0.1875em) * -0.57358) calc(50% + calc(50% - 0.1875em) * -0.81915), 17.86062% 11.69778%, 100% 50%, 25% 6.69873%, 28.86909% 4.68461%, calc(50% + calc(50% - 0.1875em) * -0.34202) calc(50% + calc(50% - 0.1875em) * -0.93969), calc(50% + calc(50% - 0.375em) * -0.42262) calc(50% + calc(50% - 0.375em) * -0.90631), calc(50% + calc(50% - 0.375em) * -0.5) calc(50% + calc(50% - 0.375em) * -0.86603), calc(50% + calc(50% - 0.1875em) * -0.42262) calc(50% + calc(50% - 0.1875em) * -0.90631), 25% 6.69873%, 100% 50%, 32.89899% 3.01537%, 37.05905% 1.70371%, calc(50% + calc(50% - 0.1875em) * -0.17365) calc(50% + calc(50% - 0.1875em) * -0.98481), calc(50% + calc(50% - 0.375em) * -0.25882) calc(50% + calc(50% - 0.375em) * -0.96593), calc(50% + calc(50% - 0.375em) * -0.34202) calc(50% + calc(50% - 0.375em) * -0.93969), calc(50% + calc(50% - 0.1875em) * -0.25882) calc(50% + calc(50% - 0.1875em) * -0.96593), 32.89899% 3.01537%, 100% 50%, 41.31759% 0.75961%, 45.64221% 0.19027%, calc(50% + calc(50% - 0.1875em) * 0) calc(50% + calc(50% - 0.1875em) * -1), calc(50% + calc(50% - 0.375em) * -0.08716) calc(50% + calc(50% - 0.375em) * -0.99619), calc(50% + calc(50% - 0.375em) * -0.17365) calc(50% + calc(50% - 0.375em) * -0.98481), calc(50% + calc(50% - 0.1875em) * -0.08716) calc(50% + calc(50% - 0.1875em) * -0.99619), 41.31759% 0.75961%, 100% 50%, 50% 0%, 54.35779% 0.19027%, calc(50% + calc(50% - 0.1875em) * 0.17365) calc(50% + calc(50% - 0.1875em) * -0.98481), calc(50% + calc(50% - 0.375em) * 0.08716) calc(50% + calc(50% - 0.375em) * -0.99619), calc(50% + calc(50% - 0.375em) * 0) calc(50% + calc(50% - 0.375em) * -1), calc(50% + calc(50% - 0.1875em) * 0.08716) calc(50% + calc(50% - 0.1875em) * -0.99619), 50% 0%, 100% 50%, 58.68241% 0.75961%, 62.94095% 1.70371%, calc(50% + calc(50% - 0.1875em) * 0.34202) calc(50% + calc(50% - 0.1875em) * -0.93969), calc(50% + calc(50% - 0.375em) * 0.25882) calc(50% + calc(50% - 0.375em) * -0.96593), calc(50% + calc(50% - 0.375em) * 0.17365) calc(50% + calc(50% - 0.375em) * -0.98481), calc(50% + calc(50% - 0.1875em) * 0.25882) calc(50% + calc(50% - 0.1875em) * -0.96593), 58.68241% 0.75961%, 100% 50%, 67.10101% 3.01537%, 71.13091% 4.68461%, calc(50% + calc(50% - 0.1875em) * 0.5) calc(50% + calc(50% - 0.1875em) * -0.86603), calc(50% + calc(50% - 0.375em) * 0.42262) calc(50% + calc(50% - 0.375em) * -0.90631), calc(50% + calc(50% - 0.375em) * 0.34202) calc(50% + calc(50% - 0.375em) * -0.93969), calc(50% + calc(50% - 0.1875em) * 0.42262) calc(50% + calc(50% - 0.1875em) * -0.90631), 67.10101% 3.01537%, 100% 50%, 75% 6.69873%, 78.67882% 9.0424%, calc(50% + calc(50% - 0.1875em) * 0.64279) calc(50% + calc(50% - 0.1875em) * -0.76604), calc(50% + calc(50% - 0.375em) * 0.57358) calc(50% + calc(50% - 0.375em) * -0.81915), calc(50% + calc(50% - 0.375em) * 0.5) calc(50% + calc(50% - 0.375em) * -0.86603), calc(50% + calc(50% - 0.1875em) * 0.57358) calc(50% + calc(50% - 0.1875em) * -0.81915), 75% 6.69873%, 100% 50%, 82.13938% 11.69778%, 85.35534% 14.64466%, calc(50% + calc(50% - 0.1875em) * 0.76604) calc(50% + calc(50% - 0.1875em) * -0.64279), calc(50% + calc(50% - 0.375em) * 0.70711) calc(50% + calc(50% - 0.375em) * -0.70711), calc(50% + calc(50% - 0.375em) * 0.64279) calc(50% + calc(50% - 0.375em) * -0.76604), calc(50% + calc(50% - 0.1875em) * 0.70711) calc(50% + calc(50% - 0.1875em) * -0.70711), 82.13938% 11.69778%, 100% 50%, 88.30222% 17.86062%, 90.9576% 21.32118%, calc(50% + calc(50% - 0.1875em) * 0.86603) calc(50% + calc(50% - 0.1875em) * -0.5), calc(50% + calc(50% - 0.375em) * 0.81915) calc(50% + calc(50% - 0.375em) * -0.57358), calc(50% + calc(50% - 0.375em) * 0.76604) calc(50% + calc(50% - 0.375em) * -0.64279), calc(50% + calc(50% - 0.1875em) * 0.81915) calc(50% + calc(50% - 0.1875em) * -0.57358), 88.30222% 17.86062%, 100% 50%, 93.30127% 25%, 95.31539% 28.86909%, calc(50% + calc(50% - 0.1875em) * 0.93969) calc(50% + calc(50% - 0.1875em) * -0.34202), calc(50% + calc(50% - 0.375em) * 0.90631) calc(50% + calc(50% - 0.375em) * -0.42262), calc(50% + calc(50% - 0.375em) * 0.86603) calc(50% + calc(50% - 0.375em) * -0.5), calc(50% + calc(50% - 0.1875em) * 0.90631) calc(50% + calc(50% - 0.1875em) * -0.42262), 93.30127% 25%, 100% 50%, 96.98463% 32.89899%, 98.29629% 37.05905%, calc(50% + calc(50% - 0.1875em) * 0.98481) calc(50% + calc(50% - 0.1875em) * -0.17365), calc(50% + calc(50% - 0.375em) * 0.96593) calc(50% + calc(50% - 0.375em) * -0.25882), calc(50% + calc(50% - 0.375em) * 0.93969) calc(50% + calc(50% - 0.375em) * -0.34202), calc(50% + calc(50% - 0.1875em) * 0.96593) calc(50% + calc(50% - 0.1875em) * -0.25882), 96.98463% 32.89899%, 100% 50%, 99.24039% 41.31759%, 99.80973% 45.64221%, calc(50% + calc(50% - 0.1875em) * 1) calc(50% + calc(50% - 0.1875em) * 0), calc(50% + calc(50% - 0.375em) * 0.99619) calc(50% + calc(50% - 0.375em) * -0.08716), calc(50% + calc(50% - 0.375em) * 0.98481) calc(50% + calc(50% - 0.375em) * -0.17365), calc(50% + calc(50% - 0.1875em) * 0.99619) calc(50% + calc(50% - 0.1875em) * -0.08716), 99.24039% 41.31759%, 100% 50%);
}

.wrapper-video-1 iframe {
    width: 100% !important;
}


