.navbar {
    background-color: rgba(0,0,0,0) !important;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.navbar .navbar-brand {
    color: white;
    font-weight: bold;
}

.navbar .navbar-brand .tanggal {
    font-weight: normal !important;
    font-size: 12px;
}